.body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 125px 125px 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px 125px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    padding: 20px;
    font-size: 200%;
    font-weight: bold;
}